<div class="container">
  <div class="profile">
    <div
      [style.backgroundImage]="'url(' + UserObj.Picture + ')'"
      class="profile-pic-container"
    ></div>
    <div class="names">
      <p>{{ UserObj.GuserName }}</p>
      <span>{{ UserObj.email }}</span>
      <p class="phone">+14 3906 5906</p>
      <p class="address">Alaska sotne road 6th street, Californaiya finland</p>
    </div>
  </div>
  <div class="details">
    <h1>Edit Profile</h1>
    <form>
      <div class="set set1">
        <input type="text" name="" value="" placeholder="Enter UserName" />
        <input type="password" placeholder="Enter new Password" />
      </div>
      <div class="set set2">
        <input type="email" class="value values1" placeholder="Enter emailId" />
        <input type="text" class="value values2" placeholder="Enter PhoneNo" />
      </div>
      <div class="set set3">
        <input
          type="text"
          class="address address1"
          placeholder="Enter address line one"
        />
        <input
          type="text"
          class="address address2"
          placeholder="Enter address line two"
        />
      </div>
      <div class="button">
        <button class="submit">submit</button>
      </div>
    </form>
  </div>
</div>
