<div class="container">
  <div *ngFor="let data of cartData" class="card">
    <div class="image-holder">
      <div
        [style.backgroundImage]="'url(' + data.imgaeUrl + ')'"
        class="image"
      ></div>
    </div>
    <div class="content">
      <h1>{{ data.foodName }}</h1>
      <p>
        {{ data.foodDesc }}
      </p>
      <button class="submit">
        Check Out
        <div class="cart">${{ data.pricing }}</div>
      </button>
    </div>
  </div>
</div>

<div class="container nulltype" *ngIf="cartData == null">
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
</div>
