<div class="container">
  <div *ngFor="let data of foodData" class="card">
    <div class="image-holder">
      <div
        [style.backgroundImage]="'url(' + data.imgaeUrl + ')'"
        class="image"
      ></div>
    </div>
    <div class="content">
      <h1>{{ data.foodName }}</h1>
      <!-- <p>
        {{ data.foodDesc }}
      </p> -->
      <div class="buttons">
        <button (click)="ordernow(data)" class="submit">
          order now
          <div class="cart">${{ data.pricing }}</div>
        </button>
        <div class="set">
          <button (click)="decrement(data)">-</button>
          <button [innerHTML]="data.foodQty"></button
          ><button (click)="increment(data)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container nulltype" *ngIf="foodData == null">
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="image-holder">
      <div class="image"></div>
    </div>
    <div class="content">
      <h1></h1>
      <p></p>
      <button class="submit">
        <div class="cart"></div>
      </button>
    </div>
  </div>
</div>
