.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .items {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .small {
      font-size: 14px;
      font-weight: 100;
      margin: 0 0 2rem 1rem;
    }
    .big1 {
      font-size: 48px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0 0 2rem 1rem;
    }
    .big2 {
      font-size: 24px;
      font-weight: 100;
      margin: 0 0 2rem 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .foods {
      border: 1px solid #ff4c59;
      background-color: transparent;
      width: 25%;
      height: 40px;
      font-size: 14px;
      font-weight: 900;
      position: relative;
      color: #ff4c59;
      margin-left: 1rem;
    }
    .foods::before {
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ff4c59;
      z-index: -1;
      content: "";
      transition: all 0.3s ease-in;
    }
    .foods:hover::before {
      width: 100%;
    }
    .foods:hover {
      color: white;
    }
  }
  .ellipse {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 25%;
    margin-bottom: 10rem;
    margin-right: 8rem;
  }

  .noodel {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8rem;
    margin-right: 5rem;
  }
}

.specials {
  width: 100%;
  display: flex;
  padding: 0 5rem;
  margin: 3rem 0;
  .content {
    h1 {
      color: #ff4c59;
      margin: 0.5rem;
    }
    margin: 2rem;
    padding-left: 1rem;
    border-left: 5px solid #ff4c59;
  }
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 5rem 0;

  img {
    height: 100%;
    box-shadow: 0px 0px 5.3px rgba(0, 0, 0, 0.116),
      0px 0px 17.9px rgba(0, 0, 0, 0.165), 0px 0px 80px rgba(0, 0, 0, 0.21);
  }
  form {
    width: 40%;
    height: 100%;
    background-color: #ff4c59;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 30px;
      font-weight: 500;
      color: white;
      text-transform: uppercase;
      margin: 2rem 0;
    }
    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 5rem;
      input,
      textarea {
        margin-bottom: 1rem;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 2px;
        padding-left: 20px;
        height: 40px;
        background-color: white;
      }
      textarea {
        padding-top: 20px;
        height: 150px !important;
      }
      .submit {
        border: 1px solid #ff4c59;
        background-color: transparent;
        position: relative;
        background-color: white;
        transition: 0.3s ease-in;
      }
      .submit:hover {
        border: 1px solid white;
        color: #ff4c59;
      }
    }
  }
}
