<div class="container">
  <div class="items">
    <p class="small">Savor the Flavor, Prego Pantry Delivers.</p>
    <span class="big1"
      ><span style="color: red">Taste</span> the Convenience,</span
    >
    <p class="big2">Order Now and Relish!</p>
    <button class="foods">Order Now</button>
  </div>
  <img src=".././../../assets/images/fried-noodels.png" class="noodel" alt="" />
  <img src="../../../assets/images/Ellipse 1.png" alt="" class="ellipse" />
</div>

<div class="reservation">
  <img src="../../../assets/images/restaurant.avif" alt="" />
  <form action="">
    <h3>Reserve table now!</h3>
    <div class="inputs">
      <input type="text" placeholder="Enter Your Name" />
      <input type="text" placeholder="Enter Your Phone no" />
      <textarea
        rows="3"
        cols="15"
        placeholder="Describe the Food and Table requirement here.."
      ></textarea>
      <button class="submit">reserve</button>
    </div>
  </form>
</div>

<div class="specials">
  <div class="content content1">
    <h1>Specials</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste ullam eius
    voluptatum asperiores commodi unde earum quam natus ducimus architecto
    voluptate at laboriosam quae explicabo doloribus vero possimus, itaque ex!
  </div>
  <div class="content content2">
    <h1>People's Favorite</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt inventore
    fuga et voluptates modi. Expedita excepturi voluptatibus illo, beatae
    assumenda consequatur cumque incidunt rerum delectus sit. Sit nihil soluta
    nemo!
  </div>
  <div class="content content3">
    <h1>Our Location</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt inventore
    fuga et voluptates modi. Expedita excepturi voluptatibus illo, beatae
    assumenda consequatur cumque incidunt rerum delectus sit. Sit nihil soluta
    nemo!
  </div>
</div>
