<div class="nav" [ngClass]="{ scrolled: isScrolled }">
  <div class="logo">
    <img src="../assets/images/prego.png" alt="" />
  </div>
  <div class="holder">
    <div class="items">
      <ul>
        <li><a href="" class="items1">Home</a></li>
        <li><a href="" class="items2">Recervation</a></li>
        <li><a href="" class="items3">Foods</a></li>
        <li><a href="" class="items3">Orders</a></li>
        <li><a href="" class="items4">Profile</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="container">
  <h1>
    <span>"Savor the Flavors ,</span> Reserve the Moments – Welcome to
    <span>PregoPantry ,</span>
    <div class="custom">
      Your Online Food Restaurant Booking Destination.
      <span style="margin: 0">"</span>
    </div>
  </h1>
  <div class="buttons">
    <button>
      <img src="../assets/images/gg.png" alt="" /> Sign-In with Google
    </button>
  </div>
</div>
<svg
  width="452"
  height="479"
  viewBox="0 0 452 479"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="blob1"
>
  <path
    d="M315.113 233.116C357.755 305.819 378.149 399.533 346.013 458.896C313.568 518.592 228.284 544.272 147.635 541.271C66.986 538.269 -9.33696 507.253 -39.31 448.891C-69.283 390.862 -53.215 306.153 -14.899 236.451C23.108 166.416 83.054 111.722 145.472 110.055C207.89 108.721 272.471 160.413 315.113 233.116Z"
    fill="#f8b50e"
  />
</svg>

<img
  src="../assets/images/tasty-burger-isolated-white-background-fresh-hamburger-fastfood-with-beef-cheese_90220-1063.avif"
  class="burger"
  alt=""
/>

<svg
  width="452"
  height="479"
  viewBox="0 0 452 479"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="blob2"
>
  <path
    d="M315.113 233.116C357.755 305.819 378.149 399.533 346.013 458.896C313.568 518.592 228.284 544.272 147.635 541.271C66.986 538.269 -9.33696 507.253 -39.31 448.891C-69.283 390.862 -53.215 306.153 -14.899 236.451C23.108 166.416 83.054 111.722 145.472 110.055C207.89 108.721 272.471 160.413 315.113 233.116Z"
    fill="#f8b50e"
  />
</svg>

<!-- section-2 -->
<div class="sample"></div>
