<div class="nav" [ngClass]="{ scrolled: isScrolled }">
  <div class="logo">
    <img src="../assets/images/prego.png" alt="" />
  </div>
  <div class="holder">
    <div class="items">
      <ul>
        <li><a href="" class="items1">Home</a></li>
        <li><a href="" class="items2">Recervation</a></li>
        <li><a href="" class="items3">Foods</a></li>
        <li><a href="" class="items3">Orders</a></li>
        <li><a href="" class="items4">Profile</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer"></div>
