<div class="nav" [ngClass]="{ scrolled: isScrolled }">
  <div class="logo">
    <h1><span style="color: red; font-weight: 900">Prego</span> Pantry</h1>
  </div>
  <div class="holder">
    <div class="items">
      <ul>
        <li><a href="" class="items1">Home</a></li>
        <li><a routerLink="ordernow">Order Now</a></li>
        <li><a href="">Specials</a></li>
      </ul>
    </div>
  </div>
  <div class="auths">
    <ul>
      <li><a *ngIf="jt == null" (click)="login()" class="auth1">Login</a></li>
      <li><a *ngIf="jt == null" href="" class="auth2">Register</a></li>
      <li>
        <a *ngIf="jt != null" routerLink="dashboard" href="" class="auth2"
          >Profile</a
        >
      </li>
      <li>
        <button
          matBadge="0"
          matBadgeColor="accent"
          matBadgePosition="after"
          mat-menu-item
        >
          <mat-icon routerLink="cart">shopping_cart</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer"></div>
