<mat-dialog-content>
  <div class="container">
    <h1>Login</h1>
    <div class="email">
      <form (ngSubmit)="emailSignIn()">
        <input
          type="email"
          [(ngModel)]="registerModle.UserName"
          name="UserName"
          placeholder="Enter Your Email"
        />
        <input
          type="password"
          name="password"
          [(ngModel)]="registerModle.password"
          placeholder="Enter Your Password"
        />
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>
    <span class="or">or</span>
    <div class="buttons">
      <button (click)="gSingIn()" class="google">
        <img src="../../../assets/images/gg.png" alt="" /> Google Login
      </button>
    </div>
  </div>
</mat-dialog-content>
